[difftool "twdiff"]
	cmd = twdiff --wait \"$LOCAL\" \"$REMOTE\"

[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"


[user]
	name = jakob
	email = jakob.fuhrmann@ubermetrics-technologies.com
[push]
	default = matching
[core]
	excludesfile = /Users/intern/.gitignore_global
  trustExitCode = true




# [merge]
#   tool = sublimerge
# 
# [mergetool "sublimerge"]
#   cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
#   trustExitCode = false
# 
# [diff]
#   tool = vimdiff
# 
# [difftool "sublimerge"]
#   cmd = subl -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": false, \\\"right_read_only\\\": true}\"
# [difftool "sourcetree"]
# 	cmd = /usr/local/bin/twdiff --resume --reverse --wait \"$LOCAL\" \"$REMOTE\"
# 	path = 
# [mergetool "sourcetree"]
# 	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
# 	trustExitCode = true
[credential]
	helper = osxkeychain
[commit]
	template = /Users/intern/.stCommitMsg
